.footer-section{    
    position: absolute;
    bottom: 0;
    width: 100vw;
}


.footer_bottom_area{
    text-align: center;
    height:50px;
    background: rgb(42, 37, 37);
    color: white;  
    
}
.footer-container{
    background: #000;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding: auto;

}
.footer-container img{
    width: 22%;
    margin: 0 auto;
}

@media screen and (max-width:800px){
    .footer-container img{
        width:45%;
    }
}
